/*------------ fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*------ common css and utilities -------*/
body{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
.container{
  width: 83%;
  margin: 0 auto;
  overflow: hidden;
}
/*-------------------- header-section start here -------------------*/
.header-content{
  display: flex;
  justify-content: space-between;
  background-color: #161616;
  border-radius: 30px;
  margin: 40px 0;
}
.header-info{
  width: 45%;
  margin-left: 7vw ;
}
.header-title{
  font-size: 4vw;
  font-weight: 700px;
  color:#FFFFFF;
  line-height: 1.1em;
  margin-top: 7vw;
  margin-bottom: 16px;
}
.header-description{
  font-weight: 400;
  color: #FFFFFF;
  font-size: 1vw;
}
.button{
  display: flex;
  align-items: center;
  background-color: #2A69D6;
  color: #FFFFFF;
  width: 130px;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  font-size:15px;
}
.watch-live-btn{
  color: #FFFFFF;
  margin: 0 10px;
}
.header-image{
  width: 50%;
}
.header-image img{
  width:90%;
  margin-top: 35px;
  margin-bottom: -7px;
}
/*------------ blog section start here -----------*/
.blog-page{
  display: grid;
  grid-template-columns: 280px 1fr;
  column-gap: 15px;
  margin: 50px auto;
}
.blog-page-buttons{
  height: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #161616;
  border-radius: 15px;
}
.page-btn{
  font-size: 17px;
  color: #161616;
  padding: 15px 10px;
  background-color: #fff;
  width: 77%;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
}
.colored-button{
  background-color: #2A69D6;
  color: #ffffff;
}
.blogs{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 15px;
  column-gap: 15px;
}
.blog{
  border: 2px solid #e4e1e1;
  border-radius: 20px;
}
.blog-img{
  text-align: center;
}
.blog-img img{
  width: 100%;
  
}
.blog-details{
  margin-left: 20px;
}
.blog-button{
  color: #161616;
  font-weight: 500;
  padding: 3px 15px;
  border: 1px solid #797676;
  border-radius: 6px;
  margin-top: 10px;
}
.blog-description{
  font-weight: 600;
  margin-bottom: 0;
}
.other-about-blog{
  display: flex;
  align-items: center;
  font-size: 15px;
}
.other-about-blog p{
  margin-right: 40px;
  color: #161616b3;
}
.other-about-blog .fa-regular{
  margin-right: 5px;
}
.view-all-btn{
  display: block;
  width: 9%;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 80px;
  color: #ffffff;
  display: none;
}
/*-------------- footer start here --------------*/
footer{
  background-color:#161616 ;
  padding: 50px 0;
}
#footer-title{
  font-weight: 600;
  font-size: 2.5em;
  text-align: center;
  color: #2A69D6;
}
footer hr{
  border: none;
  border-bottom:  1px solid  #2A69D6;
  width: 80%;
}
nav {
  width: 58%;
  margin: 30px auto 0;
  text-align: center;
}
.nav-link{
  padding-right: 18px;
  color:#2A69D6 ;
  font-weight: 500;
  font-size: 14px;
}
.nav-link:hover,.social-link .fa-brands:hover{
  color:#B9B9B9;
}
.social-link{
  margin-top: 25px;
}
.social-link .fa-brands{
  color: #2A69D6;
  font-size: 20px;
  padding: 0 5px;
}
/*--------------------------------- 
          media quieries 
-----------------------------------*/
@media only screen and (max-width:576px) {
  /*---- header-responsive ------*/
  .header-content{
    display: flex;
    flex-direction:column;
    align-items: center;
  }
  .header-info{
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .header-title{
    font-size: 35px;
    line-height: 1.2em;
    margin-top: 60px;
  }
  .header-description{
    font-size: 14px;
    width: 73%;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .button{
    width: 120px;
    margin: 20px auto;
  }
  .header-image{
    width: 80%;
    margin-left: 30px; 
  }
  .header-image img{
    width: 100%;
  }
  /*------ blog section responsive ----------*/
  .blog-page{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin-top: 0;
  }
  .blog-page-buttons{
    background-color: #fff;
  }
  .page-btn{
    border:  1px solid  #2A69D6;
    width: 50%;
  }
  .blogs{
    grid-template-columns: repeat(1,1fr);
    row-gap: 30px;
  }
  .blog-details{
    font-size: 25px;
  }
  /*--------- footer responsive -------------*/
  nav{
    display: flex;
    flex-direction: column;
  }
  .nav-link{
    margin-top: 10px;
  }
}

