/*------------ fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/*------ common css and utilities -------*/
body{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  display: inline-block;
}
.container{
  width: 80%;
  margin: 0 auto;
}
/*-------------------- header-section start here -------------------*/